
header{
    color: brown;
  
}
.adv li { display: inline-block;
    padding: 5px;
    color: red;

}
nav ul{
    list-style: none;
    text-align: center;
}
nav ul li{
    display: inline-block;
    padding: 10px;
}

nav ul li a {
    color: rgb(54, 42, 165);
    text-decoration: none;
    border-bottom: 2px solid cornflowerblue;

}
nav ul li a:hover{
    border-bottom: 2px solid rgb(237, 100, 100);
    color: rgb(237, 100, 100);
}






    
    .dropdown .dropbtn {
      font-size: 16px;  
      border: none;
      outline: none;
      color: rgb(0, 1, 2);
      background-color: inherit;
      font-family: inherit;
      margin: 0;
      cursor: pointer;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
      z-index: 1;
    }
    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    .dropdown-content a:hover {
      background-color: #ddd;
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }
    .navbar a:hover, .dropdown:hover .dropbtn {
      background-color: #575757;
    }